<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Profiler</title>
    {% load static %}
    <link rel="stylesheet" src="{% static "profiler/style/style.css" %}">
</head>
<body>
    <header> 
    
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>