{% extends 'profiler/base.html' %}
{% block title %}Display profile{% endblock  %}
{% block content %}
    <h1>{{profile.firstname}} {{profile.lastname}}</h1>
    <form method="POST" action="{% url 'displayProfile' profile.id%}">
        <label for="firstname">Firstname:</label>
        <input type="input" name="firstname" value="{{profile.firstname}}">

        <label for="lastname">Lastname: </label>
        <input type="input" name="lastname" value="{{profile.lastname}}">

        <label for="address">Address: </label>
        <input type="text" name="address" value="{{profile.address}}">

        <label for="age">Age: </label>
        <input type="number" name="age" value="{{profile.age}}">

        <label for="birthdate">Birthdate: </label>
        <input type="date" name="birthdate" value="{{profile.birthdate}}">

        <table id="social-media-table">
            <thead>
                <tr>
                    <th>Platform</th>
                    <th>Url</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>CreationDate</th>
                </tr>
            </thead>
            <body>
                {% for socialMediaAccount in socialMedia %}
                    <tr>
                        <td>{{socialMediaAccount.platform}}</td>
                        <td>{{socialMediaAccount.url}}</td>
                        <td>{{socialMediaAccount.username}}</td>
                        <td>{{socialMediaAccount.password}}</td>
                        <td>{{socialMediaAccount.creationDate}}</td>
                    </tr>
                {% endfor %}
            </body>
        </table>
    </form>
{% endblock  %}