{% extends 'profiler/base.html' %}
{% block title %} Cases {% endblock  %}
{% block content %}
    <h1>Cases</h1>
    <a href="{% url 'createCase' %}" class="create-button">Create case</button>
    <div class="case-list">
        {% for case in cases %}
            <article>
                <h3><a href="{% url 'displayProfiles' case.id %}">{{ case.title }}</a></h3>
                <p>
                    {{case.description}} - {{case.creationDate}}
                </p>
            </article>
        {% endfor %}
    </div>
{% endblock  %}
