{% extends 'profiler/base.html' %}
{% block title %} Profiles {% endblock %}
{% block content %}
    <h1>Profiles</h1>
    <a href="" id="create-btn" >Create profile</a>
    <a href="" id="add-button">Add profile</a>
    <div class="profile-list">
        {% for profile in profiles %}
            <article>
                <h3><a href="{% url 'displayProfile' profile.id %}">{{profile.firstname}} {{profile.lastname}}</a></h3>
                <p><b>Age: </b>{{profile.age}}
                <p><b>Address: </b>{{profile.address}}
            </article>
        {% endfor %}
    </div>
{% endblock %}